<%- unless @lat %>
<script type="text/javascript">
	getGeoLocation();
</script>
<%- end %>

<ul class="businesses">
<% @response['businesses'].each do |biz_hash| %>
	<li class="business-name"><%= link_to biz_hash['name'], biz_hash['url'] %></li>
	<li class="business-address"><%=biz_hash['location']['display_address'].first%>,<br> <%= biz_hash['location']['display_address'].last%></li>
<% end  %>
</ul>

<p><%= @long.to_s %></p>