
<header class="row">
  <div class="three columns">
    <img class="logo" src="assets/worknburp.png">
  </div>
  <div class="nine columns">
    <h2><small>Get your</small> Work &amp Burp <small>on @ the following locations:</small>
  </div>
</header>

<div class="row">
  <section class="five columns results-col">
    <h2>Listings:</h2>

    <ul class="businesses">
      <% @response_citygrid['results']['locations'].each do |citygrid_hash| %>
        <li>
          <% if citygrid_hash['profile'] == nil %>
            <h3><%= citygrid_hash['name']%></h3>
          <% else %>
          <a href="<%= citygrid_hash['profile'] %>" class="business-name"><%= citygrid_hash['name']%></a></li>
          <% end %>

        <li class="business-address">
          Address: <%= citygrid_hash['address']['street']%>,<br>
          <%= citygrid_hash['address']['city']%>, <%= citygrid_hash['address']['state']%> <%= citygrid_hash['address']['postal_code']%>    
        </li>

        <li class="business-phone">
          Phone: <%=citygrid_hash['phone_number']%>
        </li>
      <% end  %>
    </ul>

  </section>
  <section class="seven columns map-col">
    Google map location containing pins where the places are located

    <ul class="businesses">
      <% @responseyelp['businesses'].each do |biz_hash| %>
        <li><a href="<%= biz_hash['url'] %>" class="business-name"><%= biz_hash['name']%></a></li>

        <li class="business-address">
          Address: <%=biz_hash['location']['display_address'].first%>,<br>
          <%= biz_hash['location']['display_address'].last%>
        </li>

        <li class="business-phone">
          Phone: <%=biz_hash['display_phone']%>
        </li>
      <% end  %>
    </ul>

  </section>
  <footer></footer>
</div> 
