

<ul>
<% @response['businesses'].each do |biz_hash| %>
	<li><%= link_to biz_hash['name'], biz_hash['url'] %><br>
	<%=biz_hash['location']['display_address'].first%>,<br> <%= biz_hash['location']['display_address'].last%></li>
<% end  %>
</ul>


	