body{
  background-color: #e5e5e5;
  font-family: 'Advent Pro', sans-serif;
}
header{
  height: 120px;
}
section{
  border-radius: 5px;
}
.logo {

}

.results-col, .map-col {
  background: #Facc14;
  height: 500px;
  overflow: scroll;
}

.businesses {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
}

.businesses li {
  display: block;
  margin: 15px auto;
}

.business-name {
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  color: #404040;
  position: inline-block;
}

.business-name:hover, .business-name a:hover {
  color: white;
  background-color: #FF6C00;
}

.business-address{
  font-size: ;
  word-spacing: .7px;

}

.business-phone {
  margin-top: 5px;
}